<md-bottom-sheet>
    <h1 >H.O.P.E. Team Wish List</h1>
    <p><span>Our Wish List shows items needed for patient activities and outings as&nbsp;well as comfort items that will be distributed to patients to support them&nbsp;through their journey.</span></p>
    <p><span>We are accepting</span><span>:</span></p>
    <ul>
        <li>gift cards</li>
        <li>new blankets</li>
        <li>new scarves</li>
        <li>craft supplies</li>
        <li>gift cards</li>
        <li>new robes/socks/slippers</li>
        <li>activity books (adults and children)</li>
        <li>decks of cards</li>
        <li>DVDs</li>
        <li>Audio books</li>
        <li>current magazines</li>
        <li>board games/puzzles</li>
        <li>paperback/hardcover books (adults and children)</li>
        <li>books in Spanish</li>
    </ul>
    <p><span>* All apparel and blankets must be new to be used in the facility. Books, games, puzzles, etc. may be used.</span></p>        
</md-bottom-sheet>
